<!-- eCellar Order Review Allocated Cart Item Template -->
<div class="ecp-list-item" role="listitem">
  <div class="ecp-list-item-image">
    <img src="{message:product_image_url}" alt="{message:product_name}">
  </div>
  <div class="ecp-list-item-info">
    <div class="ecp-list-item-details">
      <div class="ecp-list-item-title">{message:product_name}</div>
      <div class="ecp-list-item-price">{currency:unit_price}</div>
      <div class="ecp-list-item-quantity">{message:OrderReview/CartItem/Allocated/Quantity_template}</div>
      <div class="ecp-list-item-allocation">{message:OrderReview/CartItem/Allocated/Info_template}</div>
    </div>
    <div class="ecp-list-item-total">{currency:extended_price}</div>
  </div>
</div> 